.list {
  background-color: rgb(246, 244, 244);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
  padding: 2rem;
  width: 70%;
  margin: auto;
}
.details {
  font-size: 0.8rem;
  border: 2px solid grey;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile {
  width: 3rem;
  height: 3rem;
}
.email,
.phone {
  font-weight: 700;
}
.delete,
.edit {
  background-color: aliceblue;
  width: 3.5rem;
  border-radius: 5px;
  margin-right: 0.5rem;
}
.delete:hover,
.edit:hover {
  cursor: pointer;
  color: white;
}
.delete:hover {
  background-color: red;
}
.edit:hover {
  background-color: green;
}
