.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  border-bottom: 2px solid grey;
  color: brown;
  margin: 0rem 0rem 2rem 0rem;
  height: 5rem;
  background-color: antiquewhite;
}
